Flask==3.1.*
firebase-admin==7.*
flask-wtf==1.*
flask-limiter==3.*
gunicorn==25.*
google-cloud-firestore==2.*
google-cloud-storage==3.*
google-cloud-secret-manager==2.*
icalendar==7.*
vobject==0.9.*
bcrypt==4.*
python-dotenv==1.*
reportlab==4.*
Markdown==3.*
bleach==6.*
